@page "/"

<h3>User List</h3>
<br />

<UserSearchComponent OnSearchUser="OnInventorySearch"></UserSearchComponent>
<UserListComponent SearchTerm="@_searchTerm"></UserListComponent>

@code {
	private string _searchTerm = string.Empty;

	private void OnInventorySearch(string searchTerm)
	{
		_searchTerm = searchTerm;
	}

	private void AddInventory()
	{
	}
}
