@inject IUserRepository UserRepository

@foreach (var user in _users)
{
	<tr>
		<td>@user.Id</td>
		<td>@user.FirstName</td>
		<td>@user.LastName</td>
		<td>
			<button type="button" class="btn btn-light">Edit</button>
		</td>
	</tr>
}

@code {
	private List<UserModel> _users = new List<UserModel>();

	[Parameter]
	public string SearchTerm { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		_users = (await UserRepository.GetUsersByName(SearchTerm)).ToList();
	}
}