@inject NavigationManager NavigationManager

@foreach (var user in Users)
{
	<tr>
		<td>@user.Id</td>
		<td>@user.FirstName</td>
		<td>@user.LastName</td>
		<td>
			<button type="button" 
					class="btn btn-light"
					@onclick="() => EditUser(user.Id)">
				Edit
			</button>
		</td>
	</tr>
}

@code {
	[Parameter]
	public List<UserModel> Users { get; set; } = new List<UserModel>();

	private void EditUser(int userId)
	{
		NavigationManager.NavigateTo($"/edituser/{userId}");
	}
}