@page "/AddUser"

@inject IUserRepository UserRepository
@inject NavigationManager NavigationManager

<h3>Add User</h3>
<br />

<EditForm Model="user" OnValidSubmit="SaveUser">
	<DataAnnotationsValidator></DataAnnotationsValidator>
	<ValidationSummary></ValidationSummary>

	<div class="form-group">
		<label for="firstName">First Name</label>
		<InputText id="firstName" @bind-Value="user.FirstName"
				   class=" form-control">
		</InputText>
	</div>

	<div class="form-group">
		<label for="lastName">Last Name</label>
		<InputText id="lastName" @bind-Value="user.LastName"
				   class=" form-control">
		</InputText>
	</div>

	<br />
	<button type="submit" class="btn btn-primary">Save</button>
	<button type="button" class="btn btn-primary" @onclick="Cancel">Cancel</button>
</EditForm>

@code {
	private UserModel user = new UserModel();

	private async Task SaveUser()
	{
		await UserRepository.InsertUser(user);
		NavigationManager.NavigateTo("/");
	}

	private void Cancel()
	{
		NavigationManager.NavigateTo("/");
	}
}
