@page "/"

@inject NavigationManager NavigationManager

<h3>User List</h3>
<br />
<UserSearchComponent OnSearchUser="OnUserSearch"></UserSearchComponent>
<UserListComponent SearchTerm="@_searchTerm"></UserListComponent>
<br />
<button type="button"
		class="btn btn-primary"
		@onclick="AddUser">
		Add User
</button>

@code {
	private string _searchTerm = string.Empty;

	private void OnUserSearch(string searchTerm)
	{
		_searchTerm = searchTerm;
	}

	private void AddUser()
	{
		NavigationManager.NavigateTo("/AddUser");
	}
}
